name: Trigger OSTP Site Building Workflow
on:
  push:
    branches: [ master ]

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger workflow
        run: |
          curl -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.PAT }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/orbitgw/OSTP-frame/actions/workflows/deploy.yml/dispatches \
          -d '{"ref":"master"}'
